@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  font-size: 26px;
  background: #000000;
  font-family: Roboto, sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1a2c69; /* Cor de fundo */
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 4px 6px rgba(88, 79, 79, 0.5); /* Sombra */
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu li a:hover {
  color: #ffd700; /* Mudar cor ao passar o mouse */
}

.main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
}

#img {
  border-radius: 5%;
  width: 700px;
  height: 600px;
}

#text {
  align-self: center;
  padding: 50px;
}

h4 {
  color: rgb(214, 34, 34);
  opacity: 0.8;
  font-size: 40px;
}
h2{
color: #1a2c69;
font-size: 90px;
}

.social {
  font-size: 35px;
  color: #fffefe;
  padding: 10px;
  margin-left: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#insta:hover {
  color: #f1f1f1;
  transition: 0.9s;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(238, 236, 236, 0.25);
}

#linkedin:hover {
  background: #595597;
  color: #ffffff;
  transition: 0.5s;
}

#facebook:hover {
  background: #4267b2;
  color: #fff;
  transition: 0.5s;
}

#steam:hover {
  color: #f1f1f1;
  transition: 0.9s;
  background-color: #4d4c4c;
}

#github:hover {
  color: #ffffff;
  transition: 0.5s;
  background-color: #808080;
}

.description {
  font-size: 17px;
  color: #000000;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.836);
  max-width: 850px;
  padding: 10px;
  background-color: #fff;
  margin-top: 20px;
  justify-content: center;
}

footer {
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  padding: 50px;
  color: #f1f1f1;
}

#lucas {
  font-weight: bold;
}

#lucas:hover {
  color: rgb(255, 3, 53);
  opacity: 0.8;
  transition: 0.5s;
}